
form {
    background-color: rgb(158, 153, 153);
    opacity: 20;
    color: rgb(104, 104, 104);
    background-color: beige;
    border: 2px solid rgb(124, 122, 122);
    position:fixed;
    left: 50vb;
    top: 50vh;
}

